.container{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding: 20px;
}
.project-item{
  padding: 25px;
  border: 2px solid #ccc;
  border-radius: 15px;
  background-color: #fffefe55;
}
.project-desc img{
    width: 90%;
    margin: auto;
    border-radius: 15px;
}
.project-desc h3{
    margin: 0 0 10px 10px;
    color: rgb(219, 226, 226);
}
@media (max-width : 900px) {
  .container{
    grid-template-columns: 1fr;
  }
}
