@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  padding-top: 15px;
  background:linear-gradient(rgb(1, 1, 80),rgb(1, 1, 117),rgb(1, 1, 80));
  height: 100vh;
  color: white;
  font-family: 'Poppins', sans-serif;
}
section h2{
  text-align: center;
  color: skyblue;
  font-size: 27px;
  transition: all 0.5s ease-in-out;
  margin-bottom: 20px;
}
section h2:hover {
  letter-spacing: 5px;
}

button {
  background: rgb(2, 2, 103);
  color: rgb(95, 156, 235);
  border: 1px solid rgb(95, 156, 235);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  margin:15px 8px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
button a{
  color: rgb(95, 156, 235);
  text-decoration: none;
}
button:hover{
  background: rgb(95, 156, 235);
  color: rgb(2, 2, 103); 
  scale: 1.1;
}
 button:hover a{
  color: rgb(2, 2, 103);  
}
section{
  margin-bottom: 150px;
}
