nav{
  background-color: rgba(238, 243, 255, 0.112);
  width: max-content;
  font-size: 18px;
  padding: 13px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  position: fixed;
  z-index: 5;
  bottom: 10px;
  right: 15px;
  backdrop-filter: blur(5px);
}
nav a{
  color: white;
  padding: 2px;
  border-radius: 50%;
  transition: 0.5s;
}
nav a:hover{
  background-color: rgb(1, 14, 47);
  padding: 7px;
}