.about-me {
  padding-top: 50px;
}
.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 100px 50px;
  align-items: center;
}

.photo-container img {
  width: 90%;
  background: rgb(95, 156, 235);
  border-radius: 30px 100px 30px 100px;
  transition: all 0.8s ease-in-out;
}
.photo-container img:hover {
  transform: rotate(+8deg);
}

@media (max-width: 850px) {
  .about-me {
    padding-top: 50px;
  }
  .about {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .photo-container img {
    width: 60%;
    margin: auto;
    display: block;
    margin-bottom: 50px;
  }
}
